PythonVersion/venv/*
PythonVersion/stockfish/*
data/rawData/movesAndPositions*
data/preparedData/moves*
data/preparedData/positions*
data/savedModels/model_**
data/savedModels/bestModel.txt
PythonVersion/libs/__pycache__/*
PythonVersion/runs/*
.vscode/settings.json
.idea/
stockfish/
JupyterNotebook/runs
JupyterNotebook/.ipynb_checkpoints
PythonVersion/__pycache__
**.json
**.pgn
**.npy
data/rawData/*/*
data/preparedData/*/*
data/savedModels/*/*
ReducedVersion/data/*