data/rawData/movesAndPositions*
data/preparedData/moves*
data/preparedData/positions*
data/savedModels/model_**
data/savedModels/bestModel.txt
.vscode/settings.json
.idea/
stockfish/
**.json
**.pgn
**.npy
data/rawData/*/*
data/preparedData/*/*
data/savedModels/*/*
data/*